<div class="footer">
    <p>
        This site was lovingly created by <a href="http://www.jocarter.co.uk" target="_blank">Jo</a> (on <a href="https://www.playpackrat.com/#129815" title="129815" target="_blank">PR</a>) (&copy; Jo Carter 2008-{{ 'now'|date('Y') }})
        <br />Not affiliated with <a href="https://www.playpackrat.com/" target="_blank">Packrat</a> - Packrat images &copy; Gowalla/HookBang 2008-{{ 'now'|date('Y') }} (used with permission)
    </p>
    <div class="likeplusone">
        <div class="fb-like" data-href="http://www.facebook.com/packrattools" data-send="false" data-layout="button_count" data-width="85" data-show-faces="false" style="border:none; overflow:hidden; width:85px; height:26px; margin-bottom: 5px;"></div>
        <g:plusone size="medium" count="true" href="http://packrattools.com/"></g:plusone>
    </div>
    <p class="fan">
        <a href="https://www.facebook.com/packrattools"><img src="{{ asset('images/facebook-rat.png') }}" alt="Packrat Tools on Facebook" title="Packrat Tools on Facebook" width="75" height="80" /></a>
        <a href="https://www.twitter.com/packrattracker"><img src="{{ asset('images/twitter-rat.png') }}" alt="Packrat Market Tracker on Twitter" title="Packrat Market Tracker on Twitter" width="75" height="80" /></a>
        <a href="http://squeaks.packrattools.com"><img src="{{ asset('images/tumblr-rat.png') }}" alt="Packrat Squeaks on Tumblr" title="Packrat Squeaks on Tumblr" width="75" height="80" /></a>
      </p>
</div>
